/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */


.catalogue-title {
    font-size: 3em; 
}

.post > p {
    color: black;
}

.post blockquote {
    color: #555555;
}

.nav-title {
    color: black;
    font-size: 5em;
    font-family: 'Bebas Neue', cursive;
}
