@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

.catalogue-title {
    font-size: 3em;
    font-family: 'Inter', sans-serif;
}

::selection {
    color: white;
    background-color: black;
}

.post > p {
    color: black;
}

.post blockquote {
    color: #555555;
}

.nav-container li span, .post-title, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

.nav-title {
    color: black;
    font-size: 5em;
    font-family: 'Bebas Neue', cursive;
}
