/* Google Fonts imports start */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}

.launchpad {
	height: 100vh;
	color: white;
	background-color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-evenly;
	text-align: center;
	width: 100%;
	clip-path: polygon(100% 0, 100% 34%, 81% 83%, 0 100%, 0 0);
	background-color: black;
}

.launchpad h1 {
	/* flex-grow: 1; */
	/* flex-basis: 50%; */
	font-size: 50px;
}

.listed {
	display: flex;
	justify-content: space-evenly;
}

.listed li {
	font-size: 20px;
	padding: 5px;
	margin-left: 20px;
	list-style: none;
	display: inline-block;
}

a[target="_blank"] {
	text-emphasis: none;
	color: white;
	text-decoration: none;
}

a[target="_blank"]:hover {
	text-decoration: underline;
}

a[target="_blank"]:visited {
	text-decoration: underline;
}

img[alt$="logo"] {
	margin-right: 2px;
	height: 40px;
	vertical-align: middle;
}

#typer {
	font-size: 60px;
	flex-basis: 25%;
}

.auto-type {
	text-decoration: underline;
}

.intro {
	flex-basis: 60%;
}

::selection {
	background-color: #00a8ff;
}
