* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}

/* * Animations start */
@-webkit-keyframes Flow {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
@-moz-keyframes Flow {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
@keyframes Flow {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
/* * Animations end */

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/robotomono/v12/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

::selection {
	color: black;
	background-color: #ffffff;
}

::-moz-selection {
	color: black;
	background-color: #ffffff;
}

.landing {
	background-color: #000000;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	color: #ffffff;
	display: flex;
	height: 100vh;
}

img[alt$="logo"] {
	height: 40px;
	width: 40px;
}

.main {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.main img {
	margin: 100px;
}

.main h1 {
	margin: 100px;
	font-size: 60px;
	align-self: center;
}

.auto-type {
	background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
	background-clip: content-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#auto-wrapper {
	text-align:center;
	cursor: default;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border-image-slice: 1;
    width:100%;
}

.social {
	display: flex;
	justify-content: center;
}

.social div {
	margin: 10px;
}

.social div a img {
	padding-left: 30px;
	vertical-align: middle;
}

.social div a {
	text-emphasis: none;
	text-decoration: none;
	color: #ffffff;
	font-size: 25px;
}

.social div a:hover {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}

#bar {
	width: 100%;
	height: 10px;
	background: linear-gradient(90deg, #00c9ff, #92fe9d);
    background-size: 400% 400%;

    -webkit-animation: Flow 19s ease infinite;
    -moz-animation: Flow 19s ease infinite;
    animation: Flow 19s ease infinite;
}


